<div class="home-container px-10 flex-col flex gap-x-8">
    <h1 class="text-5xl font-bold">Welcome, <span class="text-cyan-300">
        {{latestUser }}</span></h1>
    <br><br>

    <div class="input-container flex w-full gap-x-8 mt-6">
        <input type="text" class="input w-[500px] flex-1 border-1 border-gray-400 px-4" placeholder="Search by name" [(ngModel)]="searchText" (input)="applyFilters()">
        <input type="text" class="input w-[500px] flex-1 border-1 border-gray-400 px-4" placeholder="Filter by workout" [(ngModel)]="filterText" (input)="applyFilters()">
    </div>

    <br><br>

    <table class="apptable table-auto w-full border border-gray-400 px-10 py-2">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-400 px-4 py-2">Username</th>
                <th class="border border-gray-400 px-4 py-2">Workout Type</th>
                <th class="border border-gray-400 px-4 py-2">Number of Workouts</th>
                <th class="border border-gray-400 px-4 py-2">Duration</th>
                <th class="border border-gray-400 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workout of filteredWorkouts | paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
                <td class="border border-gray-400 px-4 py-2">{{ workout.name }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ workout.workouttype }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ workout.noofworkouts }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ workout.duration }}</td>
                <td class="border border-gray-400 px-4 py-2" *ngIf="userService.isloggedIn()">
                    <button (click)="deleteWorkout(workout.id)" class="btn btn-warning">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination class="text-right py-2 px-2" [data]="filteredWorkouts" (page)="p = $event"></app-pagination>
</div>
